.side-bar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -65vh;
  width: 160px;
  flex-shrink: 0;

  h1 {
    transform: rotate(-90deg) translate(-45%, -300px);
    white-space: nowrap;
    width: calc(100vh - 66px);
    height: 160px;
    break-inside: avoid;
    font-size: 76px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-family: "Bebas Neue";
  }
}
