.side-bar {
  position: fixed;
  top: 14vh;
  left: 0;
  height: 100%;
  width: 14%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -65vh;

  &-scenario {
    background-image: url("../../assets/CardsHP3.jpeg");
  }
  &-character {
    background-image: url("../../assets/CardsHP1.jpeg");
  }

  h1 {
    transform: rotate(-90deg);
    width: 177%;
    height: 34%;
    font-size: 76px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: -107vh;
    right: 0%;
  }
}
