.side-bar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -65vh;

  &-scenario {
    background-image: url("../../assets/CardsHP3.jpeg");
  }
  &-character {
    background-image: url("../../assets/CardsHP1.jpeg");
  }

  h1 {
    transform: rotate(-90deg) translate(50%, -250%);
    white-space: nowrap;
    width: 50%;
    break-inside: avoid;
    font-size: 76px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    font-family: "Bebas Neue";
  }
}
