.edit-scenario-container {
  height: calc(100vh - 66px);
  background-color: rgba(0, 0, 0, 0.59);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.edit-scenario-main {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

.side-bar-container{
  width: 160px;
  height: calc(100vh - 66px);
}

.start-scenario {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 2rem;
  padding: 1vh;
  width: 20%;
  height: 80%;
  background-image: url("../../assets/CardScenario.png");
  background-size: cover;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 36px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

