.nav_container {
  background-color: #751313;
  width: 100%;
  padding: 0px 50px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  letter-spacing: 1px;
  z-index: 1000;
}

canvas {
  position: absolute;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
}

#c {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 2;
}

* {
  box-sizing: border-box;
}

#c {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.box {
  width: 400px;
  height: 50px;
  margin: auto;
  position: absolute;
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.8);
  line-height: 50px;
  padding: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.HPcontainer{
  margin-top: auto;
  margin-bottom: auto;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  max-width: 100%;
  max-height: 100vh;
}

html {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cardcontainer{
  display: flex;
  justify-content: space-around;
}

.cards{
  color: white;
    padding: 25px;
    min-height: 525px;
    width: 25%;
    background-position: center center;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.cardcontainercontent{
  position: absolute;
  bottom: 0;
}

.cardcontainercontent a{
  text-decoration: none;
  cursor: pointer;
}

.card1{
  background-image: url('./assets/CardsHP1.jpeg');
}

.card2{
  background-image: url('./assets/CardsHP2.jpeg');
}

.card3{
  background-image: url('./assets/CardsHP3.jpeg');
}


.cardstitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fade-initial {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
