/* Assurez-vous que le body n'a pas de marge pour que le canvas puisse couvrir toute la page */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Cache les barres de défilement si le canvas dépasse */
}

/* Styles pour le canvas */
#c {
  position: fixed; /* Ou 'absolute' si nécessaire */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place le canvas derrière d'autres contenus */
}

/* Styles pour le contenu qui doit apparaître au-dessus du canvas */
.content {
  position: relative; /* Assurez-vous que cela a un z-index supérieur si nécessaire */
  z-index: 2; /* Plus élevé que le canvas */
  /* D'autres styles pour votre contenu ici (couleur, marge, etc.) */
}



* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: #000;
  font-size: 80%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.box {
  width: 400px;
  height: 50px;
  margin: auto;
  position: absolute;
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.8);
  line-height: 50px;
  padding: 10px;
}


#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
