.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.formScenario{
    align-items: flex-end;
    .formScenarioAnecdote, .formScenarioAgentNumber{
        width: 20vw;
        height: 10vh;
        label, input, select{
            height: 5vh;
        }
    }
}