.player-create-cta {
  background:url('../../../assets/PlayerCreationBg.jpg') no-repeat;
  background-size: cover;
  margin-left: auto;

  text-align: left;
  width: 200px;
  display: flex;
    flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 30px;

  &__label {
    font-family: "Bebas Neue";
    font-size: 1.6rem;
  }
}